---
---

// SASS mixins =================================================================
@mixin box-shadow($shadow) {-moz-box-shadow: $shadow; -webkit-box-shadow: $shadow; box-shadow: $shadow;}
@mixin border-radius($radius) {-moz-border-radius: $radius; -webkit-border-radius: $radius; border-radius: $radius; background-clip: padding-box;}
@mixin transition($transition) {-webkit-transition: $transition; -moz-transition: $transition; -o-transition: $transition; transition: $transition;}
@mixin box-sizing($type) {-webkit-box-sizing: $type; -moz-box-sizing: $type; box-sizing: $type;}
@mixin animate($animation, $speed) {-webkit-animation-duration:$speed; animation-duration:$speed;
    -webkit-animation-fill-mode:both; animation-fill-mode:both;
	-webkit-animation-name:$animation; animation-name:$animation;}

// Resets and Universal Classes ================================================
html { overflow-y: scroll }
html, body {margin:0px; padding:0px; width:100%;}
h1, h2, h3, h4, h5, h6 {margin:0px;}
img {max-width:100%; border:0px;}
a {text-decoration:none; color:inherit;}
#preload {display:none;}
div, input, textarea {box-sizing:border-box;}
input, textarea {border:0px; font-family:inherit; -webkit-appearance: none;}
input:focus, textarea:focus {outline:none;}
.clear {clear:both;}

// Responsive Layout Scheme ====================================================

// Spacing Variables
$pad: 30px; // default and standard
$pad_: 20px; // tablet and mobile

// breakpoint: reponsive adaptation mixin
@mixin breakpoint($point) {
	// mobile
    @if $point == s {
        @media screen and (max-width: 760px)  {@content;}
    }
	// small mobile
    @else if $point == xs {
        @media screen and (max-width:440px) {@content;}
    }
}

// Container
.container {position:relative; margin:0px auto;
	width:720px; margin:0px auto;
	@include breakpoint(s) {width:auto; margin:0px $pad;}
	@include breakpoint(xs) {margin:0px $pad_;}
}

// Colors, Fonts, Frills =======================================================

:root {
  --text: #222;
  --text_subtle: #999;
  --subtle: #ddd;
  --subtle_: #aaa;
  --link: blue;
  --link_subtle: #acb9ce;
  --bg: #fff;
  --bg_: #f5f5f5;
  --bg__: #fff;

  @media (prefers-color-scheme: dark) {
    --text: #ddd;
    --text_subtle: #666;
    --subtle: #353535;
    --subtle_: #555;
    --link: #3C81F9;
    --link_subtle: #435472;
    --bg: #111;
    --bg_: #181818;
    --bg__: #222222;
  }
}

// Fonts
body {
  background-color:var(--bg);
	font-family:'Source Code Pro', 'Helvetica', 'Arial', sans-serif; font-size:16px;
	line-height:1.6; font-weight:400; color:var(--text);
}
em {font-weight:400; font-style:italic;}
b {font-weight:700;}
h1 {
	font-size:36px; line-height:1.2;
	@include breakpoint(s) {font-size:30px;}
}
h2 {
	font-size:24px; line-height:1.2; font-weight:400; margin-top:10px;
	@include breakpoint(s) {font-size:22px;}
}
a {
	border-bottom:1px solid var(--link_subtle);
	&:hover {
		border-color: var(--subtle_);
	}
  &:focus {
    outline: none;
		border-bottom:1px solid var(--text_subtle);
  }
}
p.divider {
	&:before {
		content:""; display:block; width:48px; border-bottom:1px solid var(--link_subtle); margin-bottom:20px;
	}
	line-height:1.6;
	max-width:580px;
}

// Sections and Layout =========================================================
header {
	.pagetitle {padding-top:30px;}
	p {margin-bottom:0px;}
}

.content {
  padding:30px 0px;
}

#emailLinks {
	.state {margin-top:8px;}
	h2 {margin-bottom:8px;}
	a {color:var(--link);}
	a:visited {color:var(--text);}
  li {list-style-position: inside; text-indent: -1em; margin-left: 1em}
}
.emailPageHeader {
	.buttons {
		margin-top:20px;
		a {display:inline-block; margin-right:12px; color:var(--link); cursor:pointer;}
	}
}
.emailContentSection {background-color:var(--bg_);}
.emailContent {
	div {margin-top:20px;}
	.recipients {overflow-wrap: break-word;}
}
.footer {margin-top:40px;}

.divider.footer.sticky+p {
  position: sticky;
  background: linear-gradient(0deg, var(--bg) 0%, var(--bg) 85%, #ffffff00 100%);
  padding: 30px 0 24px;
  bottom: 0;
  @include breakpoint(s) {
    padding: 24px 0 30px;
  }
}

.copyToClipboard{
    cursor: pointer;
    opacity: 0.7;
    &:hover {
        opacity: 1.0;
    }
}

// jQuery Select Box =========================================================

.selectBox-options li {
	color: --var(text);
}

.selectBox.selectBox-dropdown {
	height: 25px;
	border-radius: 0;
	.selectBox-label {
		padding: 0px 8px;
	}
	.selectBox-arrow {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath d='M4.427 6.427l3.396 3.396a.25.25 0 00.354 0l3.396-3.396A.25.25 0 0011.396 6H4.604a.25.25 0 00-.177.427z' fill='%23777'%3E%3C/path%3E%3C/svg%3E");
		border: 0;
	}
}

/* Dropdown control */
.selectBox-dropdown {
  display: inline-block;
  position: relative;
  min-width: 150px;
  padding: 5px;
  margin-bottom: $pad;
  @include breakpoint(xs) {
    margin-bottom: $pad_;
  }
  border: solid 1px var(--subtle);
  border-radius: 1px;
  line-height: 1.5;
  text-decoration: none;
  text-align: left;
  color: var(--text);
  vertical-align: middle;
  background-color: var(--bg_);
  @media (prefers-color-scheme: light) {
    background-color: var(--bg);
  }
  box-shadow: 0 1px 0 var(--subtle);
  cursor: default;
  transition: border-color 100ms ease-in-out;
}

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
  border-color: var(--link);
  outline: none;
}

.selectBox-dropdown.selectBox-menuShowing-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.selectBox-dropdown.selectBox-menuShowing-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
  padding: 2px 8px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.selectBox-dropdown .selectBox-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath d='M4.427 6.427l3.396 3.396a.25.25 0 00.354 0l3.396-3.396A.25.25 0 0011.396 6H4.604a.25.25 0 00-.177.427z' fill='%23777'%3E%3C/path%3E%3C/svg%3E") 50% center no-repeat;
  border-left: 0px;
}

/* Dropdown menu */
.selectBox-dropdown-menu {
  position: absolute;
  z-index: 99999;
  max-height: 200px;
  min-height: 1em;
  border: solid 1px var(--subtle_); /* should be the same border width as .selectBox-dropdown */
  background-color: var(--bg_);
  box-shadow: 0 1px 0 var(--subtle);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Inline control */
.selectBox-inline {
  min-width: 150px;
  outline: none;
  border: solid 1px var(--subtle);
  background: var(--bg__);
  display: inline-block;
  overflow: auto;
}

.selectBox-inline:focus {
  border-color: var(--text);
}

/* Options */
.selectBox-options,
.selectBox-options li,
.selectBox-options li a {
  list-style: none;
  display: block;
  cursor: default;
  padding: 0;
  margin: 0;
}

.selectBox-options.selectBox-options-top{
  border-bottom: none;
	margin-top: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.selectBox-options.selectBox-options-bottom{
	border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selectBox-options li a {
  line-height: 1.5;
  padding: 0.25em 0.5em;
  white-space: nowrap;
  overflow: hidden;
  background: 6px center no-repeat;
}

.selectBox-options li.selectBox-hover a {
  background-color: var(--bg__);
}

.selectBox-options li.selectBox-disabled a {
  color: var(--subtle);
  background-color: transparent;
}

.selectBox-options li.selectBox-selected a {
  background-color: var(--bg__);
}

.selectBox-options .selectBox-optgroup {
  color: var(--text);
  background: var(--subtle);
  font-weight: bold;
  line-height: 1.5;
  padding: 0 .3em;
  white-space: nowrap;
}

/* Disabled state */
.selectBox.selectBox-disabled {
  color: var(--subtle) !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
  opacity: .5;
  filter: alpha(opacity=50);
  border-color: var(--subtle);
}

.selectBox-inline.selectBox-disabled {
  color: var(--subtle) !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options a {
  background-color: transparent !important;
}
