---
---

// SASS mixins =================================================================
@mixin box-shadow($shadow) {-moz-box-shadow: $shadow; -webkit-box-shadow: $shadow; box-shadow: $shadow;}
@mixin border-radius($radius) {-moz-border-radius: $radius; -webkit-border-radius: $radius; border-radius: $radius; background-clip: padding-box;}
@mixin transition($transition) {-webkit-transition: $transition; -moz-transition: $transition; -o-transition: $transition; transition: $transition;}
@mixin box-sizing($type) {-webkit-box-sizing: $type; -moz-box-sizing: $type; box-sizing: $type;}
@mixin animate($animation, $speed) {-webkit-animation-duration:$speed; animation-duration:$speed;
    -webkit-animation-fill-mode:both; animation-fill-mode:both;
	-webkit-animation-name:$animation; animation-name:$animation;}

// Resets and Universal Classes ================================================
html, body {margin:0px; padding:0px; width:100%; overflow-x: hidden !important;}
h1, h2, h3, h4, h5, h6 {margin:0px;}
img {max-width:100%; border:0px;}
a {text-decoration:none; color:inherit;}
#preload {display:none;}
div, input, textarea {box-sizing:border-box;}
input, textarea {border:0px; font-family:inherit; -webkit-appearance: none;}
input:focus, textarea:focus {outline:none;}
.clear {clear:both;}

// Responsive Layout Scheme ====================================================

// Spacing Variables
$pad: 30px; // default and standard
$pad_: 20px; // tablet and mobile

// breakpoint: reponsive adaptation mixin
@mixin breakpoint($point) {
	// mobile
    @if $point == s {
        @media screen and (max-width: 760px)  {@content;}
    }
	// small mobile
    @else if $point == xs {
        @media screen and (max-width:440px) {@content;}
    }
}

// Container
.container {position:relative; margin:0px auto;
	width:720px; margin:0px auto;
	@include breakpoint(s) {width:auto; margin:0px $pad;}
	@include breakpoint(xs) {margin:0px $pad_;}
}

// Colors, Fonts, Frills =======================================================

$text: #222;
$text_subtle: #999;
$subtle: #ddd;
$subtle_: #aaa;

// Fonts
body {
	font-family:'Source Code Pro', 'Helvetica', 'Arial', sans-serif; font-size:16px;
	line-height:1.6; font-weight:400; color:$text;
}
em {font-weight:400; font-style:italic;}
b {font-weight:700;}
h1 {
	font-size:36px; line-height:1.2;
	@include breakpoint(s) {font-size:30px;}
}
h2 {
	font-size:24px; line-height:1.2; font-weight:400; margin-top:10px;
	@include breakpoint(s) {font-size:22px;}
}
a {
	border-bottom:1px solid $subtle;
	&:hover {
		border-bottom:1px solid $subtle_;
	}
}
p.divider {
	&:before {
		content:""; display:block; width:48px; border-bottom:1px solid $subtle; margin-bottom:20px;
	}
	line-height:1.6;
	max-width:580px;
}

// Sections and Layout =========================================================

header {
	.pagetitle {padding-top:30px;}
	p {margin-bottom:0px;}
}

.content {padding:30px 0px;}

.emailLinks {
	.state {margin-top:8px;}
	.intl {margin-top:40px;}
	h2 {margin-bottom:8px;}
	a {color:blue;}
	a:visited {color:$text;}
}
.emailPageHeader {
	.buttons {
		margin-top:20px;
		a {display:inline-block; margin-right:12px; color:blue; cursor:pointer;}
	}
}
.emailContentSection {background:#f5f5f5;}
.emailContent {
	div {margin-top:20px;}
	.recipients {overflow-wrap: break-word;}
}
.footer {margin-top:40px;}

.copyToClipboard{
    cursor: pointer;
    opacity: 0.7;
    &:hover {
        opacity: 1.0;
    }
}
