.cityList {
  @include siteWidth;

  .state {
    margin-top: 8px;
  }

  h2 {
    margin-bottom: 8px;
  }

  a {
    color: var(--link);
  }

  a:visited {
    color: var(--text);
  }

  ul {
    list-style: disc;

    li {
      list-style-position: inside;
      text-indent: -1em;
      margin-left: 1em;

      @include breakpoint(s) {
        margin-top: 16px;
        margin-bottom: 16px
      }
    }
  }
}

.emailPageHeader {
  .buttons {
    margin-top: 20px;

    a {
      display: inline-block;
      margin-right: 12px;
      color: var(--link);
      cursor: pointer;
    }
  }
}

.emailContentSection {
  background-color: var(--bg_);
}

.emailContent {
  div {
    margin-top: 20px;
  }

  .recipients {
    overflow-wrap: break-word;
  }
}

.copyToClipboard {
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1.0;
  }
}
