// Content =======================================================
:root {
    --emojicon-city: '\1F3D9\fe0f';
  
    @media (prefers-color-scheme: dark) {
        --emojicon-city: '\1F303';
    }
  }
  