.sticky {
  padding: $x_1 0 $x_2;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  bottom: 0;
  position: sticky;
  box-shadow: 0 -14px 9px 2px var(--bg);
  background-color: var(--bg);

  &>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include siteWidth;
    .city-request-link {
      display: flex;
    }

    p {
      max-width: none;
      margin-bottom: 0;

      &:first-of-type,
      &:last-of-type {
        margin: 0;
      }
    }
  }
}
