<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META Information -->
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.meta }}"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/svg+xml" href="{{  prepend: site.baseurl | prepend: site.url }}/favicon.svg">

    <!-- Schema protocol -->
    <meta itemprop="name" content="{{ site.title }}">
    <meta itemprop="description" content="{{ site.meta }}">
    <meta itemprop="image" content="{{ prepend: site.baseurl | prepend: site.url }}/images/defund12.org.png">

    <!-- Facebook Open Graph protocol -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.meta }}" />
    <meta property="og:image" content="{{ prepend: site.baseurl | prepend: site.url }}/images/defund12.org.png">

    <!-- Twitter card protocol -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:image" content="{{ prepend: site.baseurl | prepend: site.url }}/images/defund12.org.png">
    <meta name="twitter:description" content="{{ site.meta }}">

    <!-- CSS Includes -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

    <!-- JS Includes -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Google Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-165430856-2', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

</head>

<body>
    <div id="react-container" data-title="{{ site.title }}" data-subtitle="{{ site.subtitle }}" data-footer_text="{{ site.footer_text }}">
        <header>
            <div class="container">
                <a href="/">
                    <h1 aria-label="Defund Twelve .org"  class="pagetitle">{{ site.title }}</h1>
                </a>
                <p class="divider">{{ site.subtitle }}</p>
                <p aria-label="12 = Police"><i>"12" = </i>🚓</p>
            </div>
        </header>
