<div class="content">
    <div class="container">
        <div id="filters">
            <select aria-label="Select State" id="selected_state" onchange="selectState(event)">
                <option selected>Choose state</option>
            </select>
        </div>
        <div id="emailLinks">
            {% assign states = site.emails | group_by:"state" %}
            {% assign sorted_states = states | sort:"name" %}
            {% for state in sorted_states %}
                {% assign sorted_emails = state.items | sort:"city" %}
                {% for email in sorted_emails %}
            <li data-state="{{ email.state }}">
                <a href="{{ email.permalink }}?browse">{{ email.city }} - <i>{{ email.name }}</i></a>
                <span tab-index="0" role="button" aria-label="copy to clipboard" class="copyToClipboard" onclick="copyToClipboard(this, `{{ email.permalink }}`, true)">🔗</span>
            </li>
                {% endfor %}
            {% endfor %}
        </div>
        <p class="divider footer sticky">{{ site.footer_text_pr | markdownify }}</p>
        <p>{{ site.footer_text_instructions | markdownify }}</p>
        <p class="divider footer">{{ site.contact_email_footer | markdownify }}</p>
    </div>
</div>
