<div class="content">
    <div class="container">
        <h1 class="pagetitle">{{ site.title }}</h1>
        <p class="divider">{{ site.subtitle }}</p>
        <div id="emailLinks">
            {% assign sorted_emails = site.emails | sort:"state" %} {% for email in sorted_emails %}
            <li data-state="{{ email.state }}">
                <a href="{{ email.permalink }}">{{ email.city }} - <i>{{ email.name }}</i></a>
                <span class="copyToClipboard" onclick="copyToClipboard(this, `{{ email.permalink }}`)">🔗</span>
            </li>
            {% endfor %}
        </div>
        <p class="divider footer">{{ site.footer_text | markdownify }}</p>
    </div>
</div>