.emailPageHeader,
.emailContentSection>.container {
  @include siteWidth;
}

.emailPageHeader {
  padding-bottom: $x_4;

  b {
    display: block;
    margin-bottom: $x_2
  }

  .buttons {
    margin: $x_3 0;

    a {
      display: inline-block;
      color: var(--link);
      cursor: pointer;

      &:not(:last-child) {
        margin-right: $x_2;
      }
    }
  }
}

.emailContentSection {
  padding: $x_4 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg_);

  .emailContent {
    div {
      margin-top: $x_3;
    }

    .recipients {
      overflow-wrap: break-word;
    }
  }


}

.alertBox {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;

  // On mobile, position alert on bottom of screen
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media (min-width: 600px) {
    // On desktop/table, position alert in center of screen
    align-items: center;
  }

  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .tabArea {
    z-index: 3;
    background-color: white;
    border-radius: 15px 15px 0 0;
    min-height: 200px;
    width: 100%;
    padding: 40px 20px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

    @media (min-width: 600px) {
      max-width: 80%;
      border-radius: 15px;
    }

    @media (min-width: 768px) {
      max-width: 500px;
    }
  }
  .dismissAlert {
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;

    width: 50px;
    height: 50px;

    position: absolute;
    top: 0;
    right: 0;
  }
  .tabText {
    margin-bottom: 20px;
  }
  .tabTextLocation {
    font-weight: bold;
  }
  .emailCTA { // button
    cursor: pointer;
    width: 80%;
    max-width: 250px;
    min-height: 50px;
    background-color: steelblue;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    border: none;
  }
}