.emailPageHeader,
.emailContentSection>.container {
  @include siteWidth;
}

.emailPageHeader {
  padding-bottom: $x_4;

  b {
    display: block;
    margin-bottom: $x_2
  }

  .buttons {
    margin: $x_3 0;

    a {
      display: inline-block;
      color: var(--link);
      cursor: pointer;

      &:not(:last-child) {
        margin-right: $x_2;
      }
    }
  }
}

.emailContentSection {
  padding: $x_4 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg_);

  .emailContent {
    div {
      margin-top: $x_3;
    }

    .recipients {
      overflow-wrap: break-word;
    }
  }


}
