@import "../0-base/reset";
@import "../1-modules/mixins";
@import "../1-modules/colors";
@import "../1-modules/header";
@import "../1-modules/selectBox";
@import "../1-modules/stickyAside";
@import "../1-modules/footer";

@import "./_list";
@import "./_email";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background-color: var(--bg);
  font-family: 'Source Code Pro', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--link_subtle);

  &:hover {
    border-color: var(--text_subtle);
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid var(--text_subtle);
  }
}

em,
i {
  font-weight: 400;
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;

  @include breakpoint(s) {
    font-size: 30px;
  }
}

h2 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: $x_2;

  @include breakpoint(s) {
    font-size: 22px;
  }
}

header,
footer {
  @include siteWidth;
}

p {
  max-width: 580px;
  margin-bottom: $x_2;
}

p.divider {
  &:before {
    content: "";
    display: block;
    width: $x_6;
    border-bottom: 1px solid var(--link_subtle);
    margin: $x_2 0 $x_3;
    max-width: 720px;
  }

  line-height: 1.6;
  margin-bottom: $x_2;
}

.copyToClipboard {
  cursor: pointer;
  opacity: 0.7;
  margin-left: .5em;

  &:hover {
    opacity: 1.0;
  }
}

#___gatsby, #gatsby-focus-wrapper {
  display: contents;
}