.letter-form {
  * {
    font-family: inherit !important;
  }

  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
  }
  input[type=checkbox] {
    margin: 0.5em;
  }

  div.pure-control-group {
    margin-top: unset;
  }

  button {
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 8px 12px;
    margin-top: 12px;
  }

  .right-pad-input {
    input {
      width: calc(100% - 5px);

      @include breakpoint(s) {
        width: 100%;

      }
    }
  }

  .full-width {
    width: 100%;
  }

  .pure-form fieldset {
    padding: .25em 0 .25em;
  }

  .text-center {
    display: flex;
    justify-content: center;
  }
}

.letter-success {
  @include highlightedSection;

  .italic {
    font-style: italic;
  }
}

.letterContentSection {
  @include highlightedSection;
  padding: 8px 0px;
}

.letterContentSection>.container {
  @include siteWidth;
}