.alert-test {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.letter-form {
  textarea {
    width: 100%;
    height: 100%;
  }
  input[type=checkbox] {
    margin: 0.5em;
  }
}

.bodyWrapper {
  background: cornsilk;
  margin: 10px;
  padding: 10px;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

