.content {
  margin-top: $x_4;

  .cityList {
    @include siteWidth;

    .state {
      margin-top: 8px;
    }

    h2 {
      margin-bottom: 8px;
    }

    a {
      color: var(--link);
    }

    a:visited {
      color: var(--text);
    }

    ul {
      list-style: disc;

      li {
        list-style-position: inside;
        text-indent: -1em;
        margin-left: 1em;

        @include breakpoint(s) {
          margin-top: $x_2;
          margin-bottom: $x_2;
        }
      }
    }

    &+.divider {
      margin-top: $x_5;
    }
  }
}
