{% include header.html %}

<script>
    // data content
    const email = {
        recipients: `{{ page.recipients | join: ',' }}`.split(','),
        subject: `{{ page.subject }}`,
        body: `{{ page.body }}`
    }

    {% if page.cc %}
        email.cc = `{{ page.cc | join: ',' }}`.split(',')
    {% endif %}

</script>

<div class="content emailPageHeader">
    <div class="container">
        <div class="">
            <h2>{{ page.name }}</h2>
            <b>{{ page.city }}, {{ page.state }}</b><br /> {{ site.email_intro_text | markdownify }}
        </div>

        <div class="template-fill"></div>
    </div>
</div>

<div class="content emailContentSection">
    <div class="container">
        <div class="emailContent">
            <div class="recipients">
                <b>To:</b> <div id="recipients-list"></div>
                <span class="copyToClipboard" onclick="copyToClipboard(this, `${email.recipients.join(',')}`)">🔗</span>
			</div>
			{% if page.cc %}
			<div class="cc">
                <b>CC:</b> <div id="cc-list"></div>
                <span class="copyToClipboard" onclick="copyToClipboard(this, `${email.cc.join(',')}`)">🔗</span>
			</div>
			{% endif %}
            <div class="subject">
                <b>Subject:</b> {{ page.subject }}
                <span class="copyToClipboard" onclick="copyToClipboard(this, `${email.subject}`)">🔗</span>
			</div>
            <div class="body">
                <b>Message</b> <i>(Don't forget to replace the [x]'s with your information!)</i>
                <span class="copyToClipboard" onclick="copyToClipboard(this, `${email.body}`)">🔗</span>
                <br /> {{ page.body | markdownify }}
            </div>
        </div>
    </div>
</div>

{% include list.html %}

<script src="/js/email.js"></script>
<script type="text/javascript">
    $(document).ready(() => {
        renderEmail()
    })
    
</script>

{% include footer.html %}