{% include header.html %}

<div class="content emailPageHeader">
    <div class="container">
        {% if page.phonenumbers %}
        <h3><a href="#call">↓ Make a Phone Call ↓</a></h3><br>
        {% endif %}
        <h2>{{ page.name }}</h2>
        <b>{{ page.city }}, {{ page.state }}</b><br /> {{ site.email_intro_text | markdownify }}
        <p id="autoopen">{{ site.auto_open_message }}</p>
        <div class='buttons'>
            <a href="javascript:void(0);" onclick="openEmail()">Send email</a>
            <a href="javascript:void(0);" onclick="copyToClipboard(this, `{{ page.permalink }}`, true)">Copy link</a>
            {% if page.phonenumbers %}
            <a href="#call">Call</a>
            {% endif %}
        </div>
        <p>{{ site.bad_mailto_message }}</p>
    </div>
</div>

<div class="content emailContentSection">
    <div class="container">
        <div class="emailContent">
            <div class="recipients">
                <b>To:</b> {{ page.recipients | join: ',' }}
                <span class="copyToClipboard" onclick="copyToClipboard(this, `{{ page.recipients | join: ',' }}`)">🔗</span>
            </div>
            {% if page.cc %}
            <div class="recipients">
                <b>CC:</b> {{ page.cc | join: ',' }}
                <span class="copyToClipboard" onclick="copyToClipboard(this, `{{ page.cc | join: ',' }}`)">🔗</span>
            </div>
            {% endif %}
            <div class="recipients">
                <b>Subject:</b> {{ site.default_subject_line }}
            </div>
            <div>
                <b>Message</b> <i>(Don't forget to replace the [x]'s with your information!)</i>
                <span class="copyToClipboard" onclick="copyToClipboard(this, `{{ page.body }}`)">🔗</span>
                <br /> {{ page.body | markdownify }}
            </div>
        </div>
    </div>
</div>

{% if page.phonenumbers %}
<div id="call" class="content">
    <div class="container">
        <h2>Call Your Elected Officials</h2>
        <b>{{ page.city }}, {{ page.state }}</b><br />
        {{ site.call_reps_message | markdownify }}
    </div>
</div>

<div class="content emailContentSection">
    <div class="container">
        <div class="recipients">
            {% for phonenumber in page.phonenumbers %}
                <b>{{ phonenumber.name }}</b>: <a href="tel:{{ phonenumber.phone }}">{{ phonenumber.phone }}</a><br />
            {% endfor %}
        </div>
        <br/>
        <div>
            <b>Call Script:</b>
            {{ page.phonescript | markdownify }}
        </div>
    </div>
</div>
{% endif %}

{% include list.html %}

<script type="text/javascript">
    function openEmail() {
        const isAndroid = /(android)/i.test(navigator.userAgent);
        const subject = encodeURIComponent(`{{ site.default_subject_line }}`.trim());
        const body = encodeURIComponent(
            isAndroid ?
                `{{ page.body | newline_to_br }}`.trim() :
                `{{ page.body }}`.trim()
        );
        const recipients = `{{ page.recipients | join: ',' }}`;
        const cc = `{{ page.cc | join: ',' }}`;
        const ccText = cc !== null && cc.length > 0 ? `cc=${cc}&` : ``;
        location.href = `mailto:${recipients}?${ccText}subject=${subject}&body=${body}`;
    }
    $(document).ready(() => {
        const params = getParams(window.location.href)
        if (params.browse !== undefined) {
            $("#autoopen").hide()
                // Automatically updates the URL so if folks try to share, it will auto-open
            window.history.replaceState({}, document.title, `${window.location.origin}{{ page.permalink }}`)
        } else {
            openEmail()
        }
    })
</script>

{% include footer.html %}
