name: CI/CD
on:
  push:
    branches:
      - master
      - gh-pages
  pull_request:

jobs:
  js-lint:
    runs-on: ubuntu-latest
    steps:
      - name: GITHUB CONTEXT
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v2
      - uses: stefanoeb/eslint-action@1.0.2
      - name: Deploy failed
        if: ${{ failure() && github.ref == 'refs/heads/master' }}
        uses: pullreminders/slack-action@v1.0.9
        env:
          SLACK_BOT_TOKEN: ${{ secrets.DEFUND12_SLACK_DEPLOY_BOT_TOKEN }}
        with:
          args: '{\"channel\":\"C014Q9PLEMC\",\"text\":\":warning: Failed to deploy latest commit on `master` https://github.com/defund12/defund12.org/commit/${{ github.sha }} due to issues with `${{ github.job }}` job\"}'
  js-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: yarn install
      - name: Test
        run: yarn test
      - name: Deploy failed
        if: ${{ failure() && github.ref == 'refs/heads/master' }}
        uses: pullreminders/slack-action@v1.0.9
        env:
          SLACK_BOT_TOKEN: ${{ secrets.DEFUND12_SLACK_DEPLOY_BOT_TOKEN }}
        with:
          args: '{\"channel\":\"C014Q9PLEMC\",\"text\":\":warning: Failed to deploy latest commit on `master` https://github.com/defund12/defund12.org/commit/${{ github.sha }} due to issues with `${{ github.job }}` job\"}'
  py-markdown-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        uses: docker://docker
        with:
          args: docker build ./test/markdown/ --tag=markdown-tests:latest
      - name: Test
        uses: docker://docker
        with:
          args: docker run -v /home/runner/work/defund12.org/defund12.org/_emails:/email_markdown_files markdown-tests:latest
      - name: Deploy failed
        if: ${{ failure() && github.ref == 'refs/heads/master' }}
        uses: pullreminders/slack-action@v1.0.9
        env:
          SLACK_BOT_TOKEN: ${{ secrets.DEFUND12_SLACK_DEPLOY_BOT_TOKEN }}
        with:
          args: '{\"channel\":\"C014Q9PLEMC\",\"text\":\":warning: Failed to deploy latest commit on `master` https://github.com/defund12/defund12.org/commit/${{ github.sha }} due to issues with `${{ github.job }}` job\"}'
  build-and-deploy:
    needs: [js-lint, js-tests, py-markdown-tests]
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - uses: helaili/jekyll-action@2.0.1
        env:
          JEKYLL_PAT: ${{ secrets.DEFUND12_GITHUB_TOKEN }}
      - name: Deploy succeeded
        if: ${{ success() }}
        uses: pullreminders/slack-action@v1.0.9
        env:
          SLACK_BOT_TOKEN: ${{ secrets.DEFUND12_SLACK_DEPLOY_BOT_TOKEN }}
        with:
          args: '{\"channel\":\"C0153GJV1GV\",\"text\":\":white_check_mark: Deployed https://github.com/defund12/defund12.org/commit/${{ github.sha }}\"}'
      - name: Deploy failed
        if: ${{ failure() }}
        uses: pullreminders/slack-action@v1.0.9
        env:
          SLACK_BOT_TOKEN: ${{ secrets.DEFUND12_SLACK_DEPLOY_BOT_TOKEN }}
        with:
          args: '{\"channel\":\"C014Q9PLEMC\",\"text\":\":warning: Failed to deploy latest commit on `master` https://github.com/defund12/defund12.org/commit/${{ github.sha }} due to issues with `${{ github.job }}` job\"}'
